body{
    background-color: rgb(34, 33, 33);
}
.container{
    justify-content: center;
    display: grid; 
    grid-template-columns: 450px 550px 450px ;
    grid-template-rows: 310px 310px 310px;
    border-collapse: collapse;
    gap:20px;
} 
.grid-items{
    border: 2px solid black;
   
    background-color: yellow;
}
p{
    font-size: 70px;
    color: orange;
    text-align: center;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
height: 100%;
width: 100%;
border: 2px solid white;
border-radius: 10px;
}
